body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li {
    font-family: 'Lalezar', cursive;
    font-size: 48px;
    color: whitesmoke;
}

.categories {
    margin: 10px;
    width: 80%;
    position: relative;
    transform: translate(-50%, 0%);
    left: 50%;
    background-color: white;
    font-family: 'Lalezar', cursive;
    color: #0000ff;
}

.foods {
    background-color: rgb(0, 174, 255);
    margin-right: 10px;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    text-align: center;
}

.toy {
    background-color: mediumorchid;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 10px;
    text-align: center;
}

.cleans {
    background-color:  #3399ff;
    margin-right: 10px;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
} 

.stuff {
    background-color: mediumorchid;
    margin-right: 10px;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
} 

#topCategory {
    margin-top: 175px;
}

#logo {
    height: 7%;
    width: 7%;
    z-index: 3;
}

#cart {
    height: 7%;
    width: 7%;
    margin-right: 15px;
    z-index: 3;
}

#navigationBar {
    position: fixed;
    background-color: #66ccff;
    border-top: 3px solid lightsteelblue;
    border-bottom: 3px solid lightsteelblue;
    height: 100px;
    width: 100%;
    z-index: 2;
}


.navItems {
    list-style-type: none; 
    display: inline;
    position: relative;
    justify-content: center;
}

.food, .toys, .cleaning, .accessories {
    height: 400px;
    width: 80%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    transform: translate(-50%, 0%);
    left: 50%;
    background-color: white;
    font-family: 'Rancho', cursive;
}

#cartFull {
    width: 80%;
    height: 100%;
    position: relative;
    transform: translate(-50%, 0%);
    left: 50%;
}

#checkout {
    border: 1px solid green;
    position: fixed;
    bottom: 0px;
    right: 0%;
    margin: 10px;
}

#checkoutButton {
    height: 70px;
    width: 125px;
    background-image: url(img/checkout.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#itemsInCart {
    font-size: 20px;
    color: red;
    float: left;
}



.product {
    height: 250px;
    width: 250px;
    top: 50%;
    transform: translateY(25%);
}

.logo {
    width: 90%;
    height: 90%;
    z-index: 1;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-56%, -30%);
  width: 90%;
  height: 90%;
  margin: 0;
  text-align: center;
  justify-content: center;
  color: white;
  background-color: black;
  opacity: 0.8;
  z-index: 2;
}

.productCover {
  position: absolute;
  height: 90%;
  width: 90%;
  z-index: 3;
  opacity: 0;
}


#cartInfo {
    height: 60px;
    width: 100%;
    transform: translate(-50%, 0%);
    left: 50%;
    bottom: 0%;
    position: fixed;
}

.cartInformation {
    font-size: 15px;
    color: blue;
}

#displayItemsInCart {
    float: left;
    margin-left: 10px;
}

#displayTotal {
    float: right;
    margin-right: 10px;
}

.addToCartButton {
    position: relative;
    float: right;
    height: 20px;
    background-color: grey;
    color: white;
    border-radius: 15px;
    z-index: 5;
}

#modal2Checkout {
    margin-top: 20px;
    font-size: 16px;
    float: right;
    color: white;
    background-color: grey;
    border-radius: 15px;
    border-style: double;
    border-width: 5px;
}

#continueShoppingButton {
    margin-top: 20px;
    font-size: 16px;
    color: white;
    background-color: grey;
    border-radius: 15px;
    border-style: double;
    border-width: 5px;
}

#submitPayment {
    float: right;
    font-size: 16px;
    color: white;
    background-color: grey;
    border-radius: 15px;
    border-style: double;
    border-width: 5px;
}

.totals {
    margin: 0;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modalContent {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    border-color: blueviolet;
    border-width: 15px;
  }
  
  /* view cart styling */
  h2 {
      text-align: center;
  }

  /* checkout view styling*/
  #modalContent {
      width: 40%;
      text-align: center;
      justify-content: center;
  }

  input[type=text] {
    font-size: 14px;
 }

 #creditCardIcons {
     height: 25%;
     width: 25%;
     object-fit: contain;
 }

 #creditContainer {
     text-align: center;
 }

  /* receipt styling */
  #modalContent3 {
    width: 30%;
  }

  h4 {
      text-align: center;
      margin: 0;
  }

  h5 {
      text-align: center;
      margin: 0;
  }
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #cartLogoNumber {
      position: absolute;
      color: red;
      top: 0px;
      right: 0px;
  }

.itemizedCartContainer {
    position: relative;

}

  .itemizedCartName {
      display: inline;
      /* position: absolute; */
      left: 0%;
      font-size: 20px;
      color: black;

  }

  .itemizedCartPrice {
    display: inline-block;
    position: absolute;
    margin-right: 20px;
    margin-top: 0;
    right: 0%;
    font-size: 20px;
    color: black;
}

font-family: 'Montserrat',  sans-serif;
font-family: 'Heebo', sans-serif;