body {
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

li {
    font-size: 20px;
}

.categories {
    margin: 10px;
    width: 80%;
    border: 1px solid blue;
    position: relative;
    transform: translate(-50%, 0%);
    left: 50%;
}

#topCategory {
    margin-top: 150px;
}

#logo {
    height: 30px;
    width: 30px;
}

#cart {
    height: 30px;
    width: 30px;
}

#navigationBar {
    position: fixed;
    background-color: aqua;
    height: 100px;
    width: 100%;
    z-index: 2;
}


.navItems {
    list-style-type: none; 
    display: inline;

}

.food, .toys, .cleaning, .accessories{
    height: 400px;
    width: 80%;
    border: 1px solid blue;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    transform: translate(-50%, 0%);
    left: 50%;
}



.product {
    height: 250px;
    width: 250px;
    border: 1px solid red;
    top: 50%;
    transform: translateY(25%);
}

.logo {
    width: 90%;
    height: 90%;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  margin: auto;
  text-align: center;
  color: white;
  background-color: black;
  opacity: 0.6;
}

#cartInfo {
    height: 60px;
    background-color: lightgrey;
    width: 100%;
    margin: 10px;
    position: relative;
    transform: translate(-50%, 0%);
    left: 50%;
    bottom: 0%;
    position: fixed;
}

.cartInformation {
    font-size: 15px;
    color: blue;
}

#itemsInCart {
    float: left;
    margin-left: 10px;
}

#displayTotal {
    float: right;
    margin-right: 10px;
}

.addToCartButton {
    float: right;
    height: 20px;
    background-color: grey;
    color: white;
    border-radius: 15px;
}