body {
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

li {
    font-size: 20px;
}

#logo {
    height: 30px;
    width: 30px;
}

#cart {
    height: 30px;
    width: 30px;
}

#navigationBar {
    position: fixed;
    background-color: aqua;
    height: 100px;
    width: 100%;
    z-index: 2;
}


.navItems {
    list-style-type: none; 
    display: inline;

}

.food, .toys, .cleaning, .accessories{
    height: 400px;
    width: 80%;
    border: 1px solid blue;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    transform: translate(-50%, 0%);
    left: 50%;
}

.food {
    margin-top: 150px;
}


.product {
    height: 250px;
    width: 250px;
    border: 1px solid red;
    top: 50%;
    transform: translateY(25%);
}

.food-logo, .toy-logo, .clean-logo, .access-logo {
    width: 90%;
    height: 90%;
    background-image: url(img/dogfoodpic.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
